<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow AI</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="container">

        <h1>TaskFlow AI</h1>
        <p>Mini SaaS Project Management Platform</p>

        <div class="card">
            <h2>Create Task</h2>

            <input type="text" id="title" placeholder="Enter Task Title">

            <textarea id="description" placeholder="Enter Task Description"></textarea>

            <button id="createBtn">Create Task</button>
        </div>

        <div id="taskList"></div>

    </div>

    <script src="../static/script.js"></script>

</body>
</html>
